<div class="wrapper">
  <div class="products">
    <ul pw-container class="products__items">
      <li pw-drag-drop [reference]='item' class="products__item" *ngFor="let item of items">
        <button class="products__btn btn">

          {{item.name}}
        </button>
        <div class="rectangle"
          style="position: absolute; right: 10px; top: calc(50% - 5px); width: 10px; height: 10px; background-color: red;">
        </div>

      </li>
    </ul>
  </div>

  <ul pw-container (addElementCalled)="onAddElementCalled($event)" (updateElementCalled)="onUpdateElementCalled($event)" class="containerek">
    <li class="containerek__item" pw-drag-drop [reference]='item' *ngFor="let item of containerItems"> {{item.name}}</li>
  </ul>

</div>
